{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'articles:update' article.pk %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="제목 입력해주세요" value="{{article.title}}">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Content</label>
        <textarea id="story" name="content" rows="10" cols="50" placeholder="내용 입력해주세요">{{article.content}}</textarea>
    </div>
    <input type="submit">
    </form>
{% endblock %}