{% extends 'base.html' %}

{% block content %}
<h1>index</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">글번호</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">상세보기</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row">{{ article.pk }}</th>
      <td><h1>{{ article.title }}</h1></td>
      <td>{{ article.content }}</td>
      <td><a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-dark">상세보기</a>
    </tr>
  {% endfor %}
  </tbody>
</table>
    <a href="{% url 'articles:new' %}" class="btn btn-primary">새로운 글 쓰기</a>
{% endblock %}