{% extends 'base.html' %}

{% block content %}
    <h1 class="alert alert-warning text=center">{{user_q}}</h1>
    <div class="card" style="width: 18rem;">
  <img src="{{ yesorno.image }}" class="card-img-top" alt="...">

    {% if yesorno.answer == 'yes' %}
  <div class="card-body bg-primary">
    <p class="card-text">{{ yesorno.answer }}</p>
  </div>
    {% else %}
  <div class="card-body bg-danger">
    <p class="card-text text-center" >{{ yesorno.answer }}</p>
  </div>

    {% endif %}
</div>
{% endblock content %}