<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}"> {{ message }} --- {{message.tags}}</div>
    {% endfor %}
    <ul>
    {% if user.is_authenticated %}
        <h1>{{ user }}님 환영합니다.</h1>
        <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
        <li><a href="{% url 'accounts:profile' user.username %}">프로필</a></li>
        <li><a href="{% url 'accounts:delete'%}">탈퇴하기</a></li>
        <li><a href="{% url 'accounts:update'%}">정보 수정하기</a></li>
    {% else %}
        <li><a href="{% url 'accounts:signup' %}">회원 가입</a></li>
        <li><a href="{% url 'accounts:login' %}">로그인</a></li>
    {% endif %}
    </ul>
    {% block content %}
    {% endblock content %}
</body>
</html>